In [4]:
import pandas as pd
import numpy as np

In [18]:
t = pd.DataFrame(np.full((8,2),5), columns = ['left','right'],)

In [20]:
print(t)

   left  right
0     5      5
1     5      5
2     5      5
3     5      5
4     5      5
5     5      5
6     5      5
7     5      5

In [27]:
print(t.loc(0))

<pandas.core.indexing._LocIndexer object at 0x0000015384DBA0B8>

In [38]:
t.iloc()[0]

left     5
right    5
Name: 0, dtype: int32

In [53]:
t1 = np.ndarray((3,2), np.int32)
for i in range(3):
    for j in range(2):
        t1[i][j] = (i+1)*(j+1)
print(t1)

[[1 2]
 [2 4]
 [3 6]]

In [58]:
print(type(t1))
print(t1.dtype)
print(t1.shape)

<class 'numpy.ndarray'>
int32
(3, 2)

In [61]:
t1 = t1.reshape(2,3)

In [67]:
t2 = pd.DataFrame(t1, columns=['d','s','q'])

In [68]:
t2

   d  s  q
0  1  2  2
1  4  3  6